.heading {
  align-items: center;
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
}

.heading-1 {
  color: var(--colorsbackgroundprimary);
  font-weight: 700;
  line-height: 56px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

